/* navbar */
.header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    padding: 30px;
    background-color: #EAF4FB;
    display: flex;
    justify-content: space-between;
    z-index: 100;
    align-items: center;
    height: 100px;
}

.header img{
    height:200px ;
    width: 200px;
    float: left;
}
.navbar a{
    font-size: 18px;
    color: #17206D;
    text-decoration: none;
    font-weight: 500;
    margin-left: 25px;  
}
.navbar {
    width: 50%;
    margin: 0 auto;
    padding: 10px;
    text-align: center;
}
.button a{
    text-decoration: none;
    color: #fff;
    padding: 10px 20px;
    background: #17206D;
    border-radius: 25px;
    border-color: #17206D;
    border: 2px solid #17206D;
    transition: border-color 0.3s;
}

.button a:hover{
    background-color: transparent;
    border-color: #17206D;
    color: #17206D;
}

/* main page */

body {
    font-family: Arial, sans-serif;
    margin: 20px;
    width: 50%;
    height: 100px;
    margin: 0 auto;
    padding: 10px;
    text-align: left;
    justify-content: space-between
}
header {
    text-align: center;
    background-color: #333;
    color: #fff;
    padding: 10px;
    .aboutus .ourservice text {text align: left}
}


/* footer */
.container {
    background-color: #bbbeff;
    margin: auto;
    width: 100%;
    padding: 40px;
}
.row{
    display: flex;
    flex-wrap: wrap;
}

.ul{
    list-style-type: none;
}

.footer {
    background-color:#bbbeff;
    box-sizing: border-box;
}
.footer-col{
    width: 25%;
    padding: 0 15px;
}
.footer-col h4{
    font-size: 17px;
    color: #000000;
}
.footer-col p{
    font-size: 12px;
    color: black;
    text-align: center;
}
.footer-col img{
    width: 100px;
    height: 100px;
    margin: 0 auto;
    display: block;
}
.social-links{
    display: flex;
    justify-content: space-around;
    align-items: center;

@media(max-width:768px){
    .footer-col{
        width: 50%;
        padding: 0 15px;
        margin-bottom:30px ;
    }
}